.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.section {
    border: 3px solid #000; /* Changed border ? color and thickness */
    padding: 10px;
    margin: 10px;
    width: 80%;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
.title-section {
    text-align: center;
    border: 7px solid #66ccff; /* Blue border color and thickness */
    border-radius: 10px;
    background-color: #f9f9f9;
}
.button1.connected {
    background-color: green;
    color: white;
}
.tips {
    text-align: center;
    background-color: #f9f9f9;
    border: 3px solid #f9ee46; /* Yellow border color and thickness */
}
.go-sections {
    background-color: #f9f9f9;
    text-align: center;
    border: 7px solid #ff5eae; /* Pink border color and thickness */
    border-radius: 10px;
}
.no-center {
    text-align: left;
}
.dropdown-container {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.dropdown-container p {
    margin: 0 10px;
}
.two-boxes-container {
    width: 80%; /* Full width to match the parent container */
    display: flex;
    justify-content: space-between;
    margin: 10px; /* Same margin as the sections for alignment */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
.yellow-box {
    background-color: #f9f9f9;
    border: 7px solid #f9ee46;
    border-radius: 10px;
    padding: 10px;
    width: 48%; /* Slightly less than 50% to fit within the parent container */
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.header {
    width: 100%;
}

.headbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4CAF50; /* Dark green */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headbar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.headbar a:hover {
    background-color: #45a049; /* Lighter green */
    color: #fff;
}

.headbar a.active {
    background-color: #66bb6a; /* Even lighter green */
    color: white;
}

main {
    padding: 20px;
    text-align: center;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}

a:hover {
    color: #66bb6a;
}

img.puppyPicture {
    height: 15vw;
    width: auto;
    padding: 5px;
  }
.img.gifthing {
    height: 250px;
    width: 800px;
    padding: 5px 0;
}
.terminalFrame{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

/*hide green button from default pyscript editor*/
.mpy-editor-run-button {
    display: none !important;
}

/*Style for the green editor (below) */
.mpy-editor-container {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 3px solid #ff5eae; /* Match the pink border */
    background-color: #fff;
    box-sizing: border-box;
}

#gitpath {
    display: none; /* Hide the textarea */
}

/* Code for Sensor values display  (Below)*/
.sensor-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    max-height: 300px; /* Adjust this value as needed */
    overflow-y: auto;
}

/* .sensor-info {
    display: flex;
    align-items: center;
    border: 2px solid red;
} */
.sensor-info {
    flex: 0 0 auto;
    min-width: 100px; /* Adjust this value based on your desired width */
    max-width: calc(25% - 10px); /* This allows 2 items per row on most screens */
    /* border: 2px solid red; */
    margin-right: 15px;
    margin-left: 5px;
}
.sensor-info-item {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 30px;
    padding: 5px 7px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    margin-top: 6px;
}
/* .sensor-info-item {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 30px;
    padding: 5px 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
} */

.sensor-stack-left {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.sensor-stack-right {
    display: flex;
    align-items: center;
}

.sensor-info-item span {
    display: flex;
    align-items: center;
}

.sensor-info-item img {
    width: auto;
    height: 24px;
    margin-right: 5px;
}

.port-name {
    font-weight: 800;
    font-size: 18px;
    color: #333;
}

.sensor-value {
    color: #4295f5;
    font-weight: 500;
    font-size: 14px;
}

/*cicle for color sensor display*/
.colorCircle{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    border: 1px solid black;
}



   /*https://raw.githubusercontent.com/javier-la200426/CEEO/main/AI-Puppy/CEEO_AI.py*/


/* CSS for mark as completed button https://getcssscan.com/css-buttons-examples*/
.button1 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-right: 7px;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button1:hover {
  background-color: #374151;
}

.button1:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button1 {
    padding: .75rem 1.5rem;
  }
}

.reward{
    display: none;
    visibility: hidden;
}

/*main editor setup: large left box, two vertically stacked boxes on the right*/
.container2 {
    padding: 10px;
    margin: 10px;
    width: 80%;
    height: 80vh;
    border: 7px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

.topDisplay{
    height: 50px;
    display: flex;
    margin-bottom: 10px;
}

.flexBox{
    display: flex;
    height: 88%;
}

.box {
    box-sizing: border-box;
    height: auto;
}

.left-box {
    flex: 2;
    background-color: #f0f0f0;
    position: relative;
}

.right-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.right-box {
    width: 55vw;
    background-color: #e0e0e0;
    border: 2px solid black;
    border-radius: 2px;
    overflow: auto;
}

.right-box:first-child {
    min-height: 50px;
    height: 100%;
    flex: 1;
}
.slider {
    text-align: center;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: #f0f0f0;
    cursor: row-resize;
    user-select: none; /* disable selection */
    height: 5px;
    padding: none;
    border-right: 2px solid black;
    border-left: 2px solid black;

  }
.right-box:nth-child(2) {
    overflow-y: hidden;
    border: 2px solid blue;
    resize: vertical; /* resize vertical */
    flex: 1;
    min-height: 100px;
}


/*-----------------------------------------------------------------------*/

.filesDiv{
    visibility: hidden;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.runCode{
    margin: auto;
}