.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.section {
    border: 3px solid #000; /* Changed border ? color and thickness */
    padding: 10px;
    margin: 10px;
    width: 80%;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
.title-section {
    text-align: center;
    border: 7px solid #66ccff; /* Blue border color and thickness */
    border-radius: 10px;
    background-color: #f9f9f9;
}
.tips {
    text-align: center;
    background-color: #f9f9f9;
    border: 3px solid #f9ee46; /* Yellow border color and thickness */
}
.go-sections {
    background-color: #f9f9f9;
    text-align: center;
    border: 7px solid #ff5eae; /* Pink border color and thickness */
    border-radius: 10px;
}
.no-center {
    text-align: left;
}
.dropdown-container {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.dropdown-container p {
    margin: 0 10px;
}
.two-boxes-container {
    width: 80%; /* Full width to match the parent container */
    display: flex;
    justify-content: space-between;
    margin: 10px; /* Same margin as the sections for alignment */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
.yellow-box {
    background-color: #f9f9f9;
    border: 7px solid #f9ee46;
    border-radius: 10px;
    padding: 10px;
    width: 48%; /* Slightly less than 50% to fit within the parent container */
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.header {
    width: 100%;
}

.headbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4CAF50; /* Dark green */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headbar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.headbar a:hover {
    background-color: #45a049; /* Lighter green */
    color: #fff;
}

.headbar a.active {
    background-color: #66bb6a; /* Even lighter green */
    color: white;
}

main {
    padding: 20px;
    text-align: center;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}

a:hover {
    color: #66bb6a;
}

img.puppyPicture {
    height: 15vw;
    width: auto;
    padding: 5px;
  }
.img.gifthing {
    height: 250px;
    width: 800px;
    padding: 5px 0;
}
.terminalFrame{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

/*hide green button from default pyscript editor*/
.mpy-editor-run-button {
    display: none !important;
}

/*Style for the green editor (below) */
.mpy-editor-container {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 3px solid #ff5eae; 
    background-color: #fff;
    box-sizing: border-box;
}

#gitpath {
    display: none; /* Hide the textarea */
}

/* Code for Sensor values display  (Below)*/
.sensor-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.sensor-info {
    flex: 0 0 auto;
    min-width: 100px; /* Adjust this value based on your desired width */
    max-width: calc(25% - 10px); /* This allows 2 items per row on most screens */
    /* border: 2px solid red; */
    margin-right: 15px;
    margin-left: 5px;
}
.sensor-info-item {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 30px;
    padding: 5px 7px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    margin-top: 6px;
}

/*-------------------------------------------------------------*/
/* .sensor-info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
    border: 2px solid red;
} */
/*-------------------------------------------------------------*/

.sensor-stack-left {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.sensor-stack-right {
    display: flex;
    align-items: center;
}

.sensor-info-item span {
    display: flex;
    align-items: center;
}

.sensor-info-item img {
    width: auto;
    height: 24px;
    margin-right: 5px;
}

.port-name {
    font-weight: 800;
    font-size: 18px;
    color: #333;
}

.sensor-value {
    color: #4295f5;
    font-weight: 500;
    font-size: 14px;
}

/*cicle for color sensor display*/
.colorCircle{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    border: 1px solid black;
}


/*https://raw.githubusercontent.com/javier-la200426/CEEO/main/AI-Puppy/CEEO_AI.py*/

/*main editor setup: large left box, two vertically stacked boxes on the right*/
/*----------------------------------------------------*/
.container2 {
    width: 80%;
    height: 85vh;
    border-radius: 10px;
    background-color: #f9f9f9;
    /* border: 7px solid #000; */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding-top: 20px; 
    padding-bottom: 20px;
}

.topDisplay {
    display: flex;
    margin-bottom: 20px;
    height: 50px;
}

.button1 {
    background-color: #998887;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-weight: bold;
    padding: 12px 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-right: 7px;
    margin-left: 7px;
    transition: all 0.3s ease;
}

.button1:not(.active):not(:hover) {
    background-color: #998887;
    cursor: default;
}

.button1.active {
    background-color: #111827;
    cursor: pointer;
}

.button1.active:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.button1:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

/* @media (min-width: 768px) {
    .button1 {
        padding: .75rem 1.5rem;
    }
} */

#connect-spike {
    background-color: green;
    cursor: pointer;
}

#connect-spike.connected {
    background-color: #f33232;
    cursor: pointer;
}

#connect-spike:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.flexBox {
    height: 88%;
    display: flex;
    gap: 10px;
}

.box {
    background-color: #f0f0f0;
    backdrop-filter: blur(1px);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /* box-sizing: border-box; */
    height: auto;
}

.left-box {
    flex: 2;
    position: relative;
    text-align: center;
}

.right-box {
    width: 50vw;
    margin-right: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*--------------------------------------------------------------*/

.right-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.right-box:first-child {
    min-height: 50px;
    height: 100%;
    flex: 1;
}

#resizeBox{
    height:50%;
}

/*-----------------------------------------------------------------------*/

.slider {
    background: #f9f9f9;
    height: 8px;
    border-radius: 4px;
    cursor: row-resize;
    transition: all 0.3s ease;
    width: 99%;
}

#repl {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: 'Courier New', monospace;
    border: 2px solid green;
    height: 100px;
    /* height: calc(100% - 200px); */
}

.filesDiv{
    visibility: hidden;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.runCode{
    margin: auto;
}

.gifFrame{
    /* border: 2px solid black; */
    border-radius: 5px;
    height: auto;
    margin: auto;
    margin-top: 25px;
    width: 100%;
}

#gif{
    max-height: 350px;
    width: 300px;
    height: auto;
    opacity: 1; 
    transition: opacity 0.5s ease-in-out;
}

/*--------------------css for tabs and content for terminal and debugger------------------------*/

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}
  
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
    font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border-top: none;
    text-align: left;
}

#customTerminalButton{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#defaultTerminalButton{
    border-left: 2px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*hide actual terminal on load*/
#debug{
    display: none;
}

#terminal{
    background: white;
    border-radius: 5px;
    font-family: monospace;
    font-size: 15px;
    height: calc(100% - 40px); /* Adjust based on your tab height */
    margin-top: 5px;
    margin-bottom:5px;
    padding: 5px;
    overflow-y: auto;
}

#terminalMessages {
    min-height: 100%;
}